# This script allows you to run Infinispan Server as a systemd service.
# Modify environment properties in this script as appropriate.
# Copy this script to the following location: /etc/systemd/system
# Activate with 'systemctl daemon-reload'
#               'systemctl start|enable infinispan'

[Unit]
Description=Red Hat Data Grid Server Service
After=network.target

[Service]
Environment="INFINISPAN_HOME={{ datagrid_home }}"
#Environment="JAVA_HOME=/usr/java/jdk-11.0.8"
ExecStart=/bin/bash -c ${INFINISPAN_HOME}/bin/server.sh
Environment="AWS_SECRET_KEY={{ secret_key }}"
Environment="AWS_ACCESS_KEY={{ access_key }}"
Type=simple
User=infinispan

[Install]
WantedBy=multi-user.target

