[Unit]
Description=RHSSO service
After=network-online.target

[Service]
Type=simple
ExecStart={{ rhsso_home }}/bin/standalone.sh -c standalone-ha.xml -b 0.0.0.0
ExecStop={{ rhsso_home }}/bin/jboss-cli.sh -c --command='shutdown'
ExecReload={{ rhsso_home }}/bin/jboss-cli.sh -c --command='reload'
#PIDFile=/var/run/rhsso/rhsso.pid
User={{ rhsso_user }}
Environment="dbuser={{ database_user }}"
Environment="dbpassword={{ database_password }}"
Environment="datagridUser={{ datagridUser }}"
Environment="datagridPWD={{ datagridPWD }}"
Environment="keystorePWD={{ keystorePWD }}"

[Install]
WantedBy=multi-user.target